Importer can not import zone files with $origin and $ttl

### NicTool version
2.34

### perl version

This is perl 5, version 28, subversion 1 (v5.28.1) built for x86_64-linux-gnu-thread-multi

### OS version

Debian  10.8 in podman container
MariaDB 10.3

### Steps to reproduce

Use bind zone files containing $origin and $ttl lines. Import those zone files.

### Observed behavior

The importer fails trying to import zone files containing lines like those

    $origin domain.tld.
    $ttl 1800

The importer fails complaining about those directives in the zone file. 

    unknown "$origin" directive at /usr/local/share/perl/5.28.1/Net/DNS/ZoneFile.pm line 490, <GEN1> line 2.
    unknown "$ttl" directive at /usr/local/share/perl/5.28.1/Net/DNS/ZoneFile.pm line 490, <GEN1> line 3.

When those directives are changed to upper case, they are accepted.

### Expected behavior

$ttl and $origin are essential parts of the zone file format. They should be accepted upper and lower case based on RFC1035 "Conventions" for "Character Case".

### Background

Can the issue be caused by an case sensitive importer? 

My understanding of RFC1035 section 2.3.3. is that it should be case insensitive. 

    For all parts of the DNS that are part of the official protocol, all
    comparisons between character strings (e.g., labels, domain names, etc.)
    are done in a case-insensitive manner.  At present, this rule is in
    force throughout the domain system without exception.

based on that $origin and $ttl (RFC 2308) should be read in by the importer no mather of upper or lower case.



This bug should likely be filed against [Net::DNS::Zonefile](https://metacpan.org/pod/Net::DNS::ZoneFile).

Thanks. I filed a bug report with Net::DNS::Zonefile.

https://rt.cpan.org/Ticket/Display.html?id=137909

The above "Steps to reproduce" omits an important first step:
* Check that zone files containing $origin and $ttl lines can be imported into BIND.

There does not seem to be any support for this conjecture in the [BIND Administrator Reference Manual](http://bind.isc.org/)


The BIND administrators manual and RFC 1035 both declare the correct syntax is $ORIGIN and $TTL.  The cited portion of RFC 1035 applies to DNS data, but these aren't DNS data, they're BIND zonefile keywords.