Webinterface and API allow entering CNAMES for @

which is not legal, AFAIK, and consequently, BIND refuses to load such a zone....

In line 365, it says:

    335     my ($crash) = grep { $_->{type} =~ /^(A|AAAA|MX)$/ } @$collisions;

From reading various online material, it would seem one would just have to add "NS" as an additional type to grep for?
Because, the NS record would usually be there and match.

But I've not tested this.


I think you are mistaken. 

If BIND refuses to load a zone such as:

````
@     IN CNAME  foo.com.
@     IN NS          ns1.foo.com.
@     IN NS          ns2.foo.com.
````

Then I'd be quite surprised, and you should paste the *exact* error message. 

The CNAME coexistence rule is found in RFCs 1034 & 2181, as it clearly states two lines below. If there are further restrictions that have been added for CNAME coexistence, please do cite them and re-open this issue.

Well, the data was more 

@ IN CNAME name.cloudapp.net.
www IN CNAME name.cloudapp.net. 
and the NS records, of course.

18164 2015-10-29T17:10:10+01:00 aaa.bbb.ccc.ddd named 93 [local2.err] named[1378]:  dns_master_load: /usr/local/etc/namedb/master-nictool/thedomain.ch:16: thedomain.ch: CNAME and other data

I don't have the zone-data anymore.

The problem is described here, too:
https://forum.directadmin.com/showthread.php?t=43775



From [RFC 2181](http://tools.ietf.org/html/rfc2181):

> Elz & Bush                  Standards Track                    [Page 11]
>  RFC 2181        Clarifications to the DNS Specification        July 1997
>
> An alias name (label of a CNAME record) may,
   if DNSSEC is in use, have SIG, NXT, and KEY RRs, but may have no
   other data.  That is, for any label in the DNS (any domain name)
   exactly one of the following is true:
>
>     + one CNAME record exists, optionally accompanied by SIG, NXT, and KEY RRs,
>     + one or more records exist, none being CNAME records,
>     + the name exists, but has no associated RRs of any type,
>     + the name does not exist at all.

And [RFC 4035](http://tools.ietf.org/html/rfc4035)

> 2.5.  Changes to the CNAME Resource Record
>
>   If a CNAME RRset is present at a name in a signed zone, appropriate
   RRSIG and NSEC RRsets are REQUIRED at that name.  A KEY RRset at that
   name for secure dynamic update purposes is also allowed ([RFC3007]).
   Other types MUST NOT be present at that name.
>
>   This is a modification to the original CNAME definition given in
   [RFC1034].  The original definition of the CNAME RR did not allow any
   other types to coexist with a CNAME record, but a signed zone
   requires NSEC and RRSIG RRs for every authoritative name.  To resolve
   this conflict, this specification modifies the definition of the
   CNAME resource record to allow it to coexist with NSEC and RRSIG RRs.

> it would seem one would just have to add "NS" as an additional type to grep for?

It looks to me like the right solution is to flip the logic there to not permit creation of a CNAME if any record exists at that label, excepting the specifically declared exceptions of SIG, NXT, KEY, RRSIG, NSEC.

Also, new record sanity checks should make sure a CNAME does not already exist with the same label before creating them.

@rduffner , please review PR #113 and confirm it does The Right Stuff.